/* ---fonts---- */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;500;700&display=swap");

.txt-roboto {
    font-family: 'Roboto', sans-serif;
}

.txt-cursive {
    font-family: 'Bebas Neue', cursive;
}

/* ---btn gradient color--- */
.btncolor {
    background: linear-gradient(180deg, #A4BC46 0%, #85A019 100%);
    border-radius: 10px;
} 